.gitignore                      text eol=lf
.gitattributes                  text eol=lf
.github/actions/*/*.yml         text eol=lf
.github/workflows/*.yml         text eol=lf
.github/workflows/*.sh          text eol=lf
.github/workflows/scripts/*.sh  text eol=lf

*.diff text eol=lf
*.msg  text eol=lf
*.ssl  text eol=lf linguist-language=Pascal
*.h    text eol=lf
