Fallout2/*
!Fallout2/Fallout1in2/

Fallout2/Fallout1in2/Mapper/source/01checked/
Fallout2/Fallout1in2/Mapper/source/check.bat
Fallout2/Fallout1in2/Mapper/source/filter_scripts.txt

Fallout2/Fallout1in2/data/*.GCD
Fallout2/Fallout1in2/data/SAVEGAME/
Fallout2/Fallout1in2/data/worldmap.dat

Fallout2/Fallout1in2/mods/fo1_base/maps/*.SAV
Fallout2/Fallout1in2/mods/fo1_base/maps/ARBRIDGE.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARCAVES.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARDEAD.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARGARDEN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARTEMPLE.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARVILL2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ARVILLAG.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/AUTOMAP.DB
Fallout2/Fallout1in2/mods/fo1_base/maps/BHRNDDST.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/BHRNDMTN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/BROKEN1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/BROKEN2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE0.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE3.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE4.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE5.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE6.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/CAVE7.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST10.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST11.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST12.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST3.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST4.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST5.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST6.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST7.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST8.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/COAST9.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DENBUS1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DENBUS2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DENRES1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DEPOLV1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DEPOLVA.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DEPOLVB.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT4.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT5.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT6.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT7.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT8.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESERT9.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESRT10.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESRT11.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESRT12.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DESRT13.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/DNSLVRUN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCDET.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCDOCK.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCFITE.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCGD.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCPRES.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCRCTR.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/ENCTRP.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GAMMOVIE.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GECKJUNK.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GECKPWPL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GECKSETL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GECKTUNL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GSTCAV1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GSTCAV2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/GSTFARM.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/HALLDED1.GAM
Fallout2/Fallout1in2/mods/fo1_base/maps/HALLDED1.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/HUBDTOWN.GAM
Fallout2/Fallout1in2/mods/fo1_base/maps/JUNKCSNO.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/JUNKKILL.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/KLACANYN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLADWTWN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLAGRAZ.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLAMALL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLARATCV.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLATOXCV.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/KLATRAP.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MBASE12.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MBASE34.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MBCLOSE.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MBENT.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/MODBRAH.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MODGARD.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MODINN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MODMAIN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MODSHIT.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/MODWELL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NAVARRO.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCR1.cfg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCR1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCR2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCR3.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCR4.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NCRENT.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR1A.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR2A.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR3.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWR4.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWRBA.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWRCS.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWRGO.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWRST.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/NEWRVB.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDDOWN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDDTUN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDMENT.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDMTUN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDWAME.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/REDWAN1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDBESS.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDBHEAD.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDBRIDG.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDEXCOW.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDFORVR.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDHOLY1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/RNDHOLY2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SFDOCK.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SFELRONB.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SFSHUTL1.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SFSHUTL2.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SFTANKER.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/SHADYW.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/SHADYW.txt
Fallout2/Fallout1in2/mods/fo1_base/maps/SHADYWST.GAM
Fallout2/Fallout1in2/mods/fo1_base/maps/SHADYWST.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/TMP$MAP#.MAP
Fallout2/Fallout1in2/mods/fo1_base/maps/TMP$MAP#.cfg
Fallout2/Fallout1in2/mods/fo1_base/maps/TMP$MAP#.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/VAULT13.VAR
Fallout2/Fallout1in2/mods/fo1_base/maps/VCTYCOCL.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/VCTYCTYD.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/VCTYDWTN.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/VCTYVLT.edg
Fallout2/Fallout1in2/mods/fo1_base/maps/WATRSH1.cfg
Fallout2/Fallout1in2/mods/fo1_base/maps/WATRSHED.GAM
Fallout2/Fallout1in2/mods/fo1_base/maps/backup/

Fallout2/Fallout1in2/mods/fo1_base/proto/critters/*.sav

Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/1MOLRAT1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/ANIMFR~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/ASSBLOW.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BARTERGU.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BARTERGY.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BARTER~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BOBSTAND.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BOSDOCTR.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BOSLORI.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/BVLAD.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/CHILDR~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/COW.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/DARL.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/DEMOCOMP.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/DEMODOG.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/DOG2.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/ELDER.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/GENLOCK.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/GHDEAD.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/GHOUL.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/GLOW4W~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/HHOOKER.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/HHOOKER2.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/JER.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/JEREM2.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/JUNKDOG.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/LORRI.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/LORRIAN.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/MANHOLE.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/MARCEL~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/MASSACRE.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/MICHAE~1.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/MRHANDYB.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/RAIDGRD.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/REDFIELD.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/SAMMY.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/SAMMY2.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/STAPBOX.MSG
Fallout2/Fallout1in2/mods/fo1_base/text/english/dialog/STIMPACK.MSG
