body {
    margin: 50px;
    background-color: #040C00;
    color: #CDCDCD;
    border: 0px solid #000;
    font-size : 12px;
    font-family : 'Lucida Grande', Verdana, Arial, Sans-Serif; 
    text-align: left;
}
    
a:link, a:visited {
   color: #5DA046;
   text-decoration: none;
}

a:hover {
    color: #E0E0E0;
    text-decoration: underline;
}

a {
	display: inline !important;
}

h1 {
    text-align: center;
}

h3 a:link, h3 a:visited {
    color: #F49205;
}

h3 a:hover {
    color: #F49205;
}

h3 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px dotted #474C44;
    color: #F49205;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 3px;
    margin: 3px;
}

table th {
    text-align: left;
    border-bottom: 1px solid #535b5aba;
}

table td {
    margin: 3px;
    padding: 3px;
}

p {
    margin: 5px;
    padding: 0px;
    }

hr {
    height : 1px;
    background-color : #474C44;
    border: #474C44;
}

#main div {
    margin: auto;
    width: 1000px;
    font-size: 14px;
    line-height: 20px;
}

#main a {
    margin: auto;
    text-align: left;
    display: table-row;
}