body {
	margin: 50px;
	background-color: #040C00;
	color: #CDCDCD;
	border: 0px solid #000;
	font-size : 12px;
	font-family : 'Lucida Grande', Verdana, Arial, Sans-Serif; 
	text-align: center;
}
	
a:link, a:visited {
   color: #5DA046;
   text-decoration: none;
}

a:hover {
	color: #E0E0E0;
	text-decoration: underline;
}

h3 a:link, h3 a:visited {
	color: #F49205;
}

h3 a:hover {
	color: #F49205;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	border-bottom: 1px dotted #474C44;
	color: #F49205;
	}

p {
	margin: 5px;
	padding: 0px;
	}

hr {
	height : 1px;
	background-color : #474C44;
	border: #474C44;
}

#main div {
	margin: auto;
	width: 700px;
	font-size: 14px;
	line-height: 20px;
}

#main a {
	margin: auto;
	text-align: left;
	display: block;
}