name: Text

on:
 push:
  paths:
  - '.github/workflows/text.yml'
  - 'Fallout2/Fallout1in2/**/*.[Mm][Ss][Gg]'
  - 'Tools/ScanMsg/ScanMsg.exe'
 pull_request:
  paths:
  - '.github/workflows/text.yml'
  - 'Fallout2/Fallout1in2/**/*.[Mm][Ss][Gg]'
  - 'Tools/ScanMsg/ScanMsg.exe'

defaults:
 run:
  shell: bash

jobs:

 English:
  runs-on: windows-latest
  steps:

  - name: Clone
    uses: actions/checkout@v2

  - name: ScanMsg (local)
    uses: wipe2238/ScanMsg@master
    with:
     path:       fo1_base
     executable: Tools/ScanMsg/ScanMsg.exe
     workdir:    Fallout2/Fallout1in2/mods/

  - name: ScanMsg (upstream)
    uses: wipe2238/ScanMsg@master
    with:
     path:       fo1_base
     workdir:    Fallout2/Fallout1in2/mods/

 Translations:
  runs-on: windows-latest
  needs:   English
  name:    ${{ matrix.lang.name }}
  strategy:
   fail-fast: false
   matrix:
    lang:
    - { name: German, directory: fo1_german/text/german/ }
    # { name: French, directory: fo1_french/text/french/ }

  steps:

  - name: Clone
    uses: actions/checkout@v2

  - name: ScanMsg (local)
    uses: wipe2238/ScanMsg@master
    with:
     path:         fo1_base/text/english/
     translations: ${{ matrix.lang.directory }}
     executable:   Tools/ScanMsg/ScanMsg.exe
     workdir:      Fallout2/Fallout1in2/mods/

  - name: ScanMsg (upstream)
    uses: wipe2238/ScanMsg@master
    with:
     path:         fo1_base
     translations: ${{ matrix.lang.directory }}
     workdir:      Fallout2/Fallout1in2/mods/
