name: Tools

on:
 push:
  paths:
  - '.github/workflows/tools.undatui.yml'
  - 'Tools/UndatUI/src/**'

defaults:
 run:
  shell: bash

env:
 DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:

 UndatUI:
  runs-on: windows-2019
  steps:

  - name: Clone
    uses: actions/checkout@v3

  - name: Build
    run:  |
          :
          MSBUILD_EXE="$("/c/Program Files (x86)/Microsoft Visual Studio/Installer/vswhere.exe" -latest -requires Microsoft.Component.MSBuild -find MSBuild/**/Bin/MSBuild.exe)"
          "$MSBUILD_EXE" Tools/UndatUI/src/undat.sln -p:Configuration=Release
